<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ne.org/xtext/example/program/ProgramDsl"
			class = "org.ne.xtext.example.program.programDsl.ProgramDslPackage"
			genModel = "model/generated/ProgramDsl.genmodel" />
	</extension>
</plugin>
